{% extends "base.html" %}

{% block content %}
    <h1>Bookings</h1>
    <p>Manage your bookings.</p>


    {% if user_bookings %}
        <ul>
            {% for booking in user_bookings %}
                <li>
                    Event: {{ booking.event.name }}<br>
                    Date: {{ booking.event.datetime }}<br>
                    Tickets: {{ booking.numberOfTickets }}
                    <a href="{% url 'update_booking' booking.id %}">Update Booking</a>
                    <form method="post" action="{% url 'delete_booking' booking.id %}" onsubmit="return confirm('Are you sure you want to delete this booking?');">
                        {% csrf_token %}
                        <button type="submit">Delete Booking</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no bookings.</p>
    {% endif %}
{% endblock %}