{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Book Event</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card" style="width: 50%;">
            <h1 class="card-title text-secondary text-center">Book Event Page</h1>
            <p class="card-text text-secondary text-center">Please make your booking for {{ event.name }}</p>
            <form method="POST" class="card-text text-secondary text-center">
                {% csrf_token %}
                <label for="tickets">Number of tickets</label>
                <input 
                    type="number" 
                    name="number_of_tickets" 
                    id="number_of_tickets" 
                    min="1" 
                    max="{{ event.tickets_left }}" 
                    onChange="calculateTotalPrice({{ event.price }})"
                >
                <br>
                <button type="submit" class="btn btn-secondary">Book Tickets</button>
            </form>
        </div>
    </div>

    <p>The price is £{{ event.price }} per ticket</p>
    <p>Total Price: £<span id="totalPrice">0</span></p>

{% endblock %}

{% block extras %}
    <script src="{% static 'event/js/event.js' %}"></script>
{% endblock %}