{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-evenly">
                    {% for event in events %}
                    <div class="col-md-4 p-4">
                        <div class="card" style='background-image: url("{% if 'placeholder' in event.image.url %}{% static 'event/img/the-miners-lantern-logo.png' %}{% else %}{{ event.image.url }}{% endif %}");'>
                            <a href="{% url 'book_event' event.id %}">
                              <div class="card-body">
                                <h2 class="card-title">{{ event.name }}</h2>
                                <p class="card-text">{{ event.datetime }}</p>
                                    <p class="card-text">Tickets Available - {{ event.tickets_left }}</p>
                                    <p class="card-text">£{{ event.price }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row d-flex justify-content-evenly">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }} " class="page-link page-previous"> &laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link page-next"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>


{% endblock %}

{% block extras %}
    <link rel="stylesheet" href="{% static 'event/css/events.css' %}">
{% endblock %}
