{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="parallax">

    <div class="parallax-inner">

        
        <div class="home-subheading m-3"><mark> Welcome to <br>The Miner's Lantern </mark><br><br><mark class="hvr-sweep-to-left"><a class="signup-btn" href="{% url 'account_signup' %}">Sign up</a></mark></div>
        

    </div>

    </section>
    
    <div class="home-div">
    <div class="home-heading">Home Of Events</div>
    <p class="text-center home-text">The Miner's Lantern isn't just another pub... it's where stories begin and music comes alive. Our historic venue has been hosting unforgettable nights since 1978, combining the charm of a traditional British pub with a dynamic live music venue. From intimate acoustic sessions to energetic band nights, we're proud to be your local home of live entertainment.</p>
    </div>

    <section class="parallax-two">

        <div class="parallax-inner-two">
    
            <div class="home-subheading-two m-3"><mark>Heritage. Music. Community.</mark></div>
    
        </div>
    
    </section>
    <div class="home-div-two">
    <div class="home-heading-two">Book Now</div>
    <p class="text-center home-text">Reserve your spot at The Miner's Lantern and be part of our living heritage</p>
    <div class="home-subheading text-center"><mark class="text-center hvr-sweep-to-left"><a class="signup-btn" href="{% url 'events' %}">Book Now</a></mark></div>
    </div>

    <section class="parallax-three">

        <div class="parallax-inner-three">
    
            <div class="home-subheading-three m-3"><mark>Support Local Music</mark></div>
    
        </div>
    
    </section>
{% endblock %}