{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="parallax">

    <div class="parallax-inner">

        
        <div class="home-subheading m-p">Welcome to<br>The Miner's Lantern</div>
        

    </div>

    </section>
    <div class="home-heading">Event Home</div>

    <section class="parallax-two">

        <div class="parallax-inner-two">
    
            <div class="home-subheading-two">Venue</div>
    
        </div>
    
    </section>

    <div class="home-heading">Book Now</div>

    <section class="parallax-three">

        <div class="parallax-inner-three">
    
            <div class="home-subheading-three">Venue</div>
    
        </div>
    
    </section>
{% endblock %}