{% url 'event_home' as event_home %}
{% url 'events' as events_home %}
{% url 'account_signup' as signup_url %}
{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'user_bookings' as bookings %}
{% url 'about_page' as about %}

{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link
        rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">


        <!-- Google Fonts CSS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <script src="https://kit.fontawesome.com/12e562bf66.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        {% block head %}
            <!-- Head content goes here -->
        {% endblock head %}
    </head>

    <body
        class="d-flex flex-column h-100">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'event_home' %}"><img src="{% static 'event/img/logo_final.png' %}" alt="The Miners Lantern Logo" id="site-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == event_home %}active{% endif %}" aria-current="page" href="{% url 'event_home'%}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == events_home %}active{% endif %}" aria-current="page" href="{% url 'events' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == about %}active{% endif %}" aria-current="page" href="{% url 'about_page' %}">About</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'user_bookings' %}" class="nav-link {% if request.path == bookings %}active{% endif %}" aria-current="page">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <form id="logout-form" method="post" action="{% url 'account_logout' %}" style="display: inline-block;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link nav-link" style="display: inline-block; padding: 8px;">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page">Register</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page">Login</a>
                            </li>
                        {% endif %}
                    </ul>


                </div>
            </div>
        </nav> 

        <main class="flex-grow-1 align-content-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" id="message-{{ forloop.counter }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
                <!-- Content Goes here -->
            {% endblock content %}
        </main>

        <!-- Footer -->
        <footer class="footer">
            
            <div class="container-fluid">
                <div class="row d-flex justify-content-between p-4">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h5 class="m-4">
                            Opening Times:
                        </h5>
                        <ul class="m-2">
                            <li>Monday - Thursday: 12:00 PM - 11:00 PM</li>
                            <li>Friday - Saturday: 12:00 PM - 1:00 AM</li>
                            <li>Sunday: 12:00 PM - 10:30 PM</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 align-self-center text-center">
                        <p class="m-4">
                            {% block copyright %}
                                Copyright The Miner's Lantern 2024
                            {% endblock copyright %}
                        </p>
                    </div>
                <div class="col-sm-12 col-md-4 col-lg-4 d-flex flex-column justify-content-center">
            <p class="m-4 text-center">
                <a class="social-link" target="_blank" href="https://www.facebook.com/">
                    <i class="fab fa-brand fa-facebook-f mx-4"></i>
                    <!-- For screen readers  -->
                    <span class="sr-only">Facebook</span>
                </a>
                <a class="social-link" target="_blank" href="https://x.com/?lang=en">
                    <i class="fab fa-brands fa-x-twitter mx-4"></i>
                    <!-- For screen readers  -->
                    <span class="sr-only">Twitter</span>
                </a>
                <a class="social-link" target="_blank" href="https://linkedin.com/?lang=en">
                    <i class="fab fa-brands fa-linkedin-in mx-4"></i>
                    <!-- For screen readers  -->
                    <span class="sr-only">LinkedIn</span>
                </a>
                <a class="social-link" target="_blank" href="https://www.instagram.com/">
                    <i class="fab fa-brands fa-instagram mx-4"></i>
                    <!-- For screen readers  -->
                    <span class="sr-only">Instagram</span>
                </a>
            </p>
            </div>
                </div>
            </div>
        </footer>

        {% block extras %}
            <!-- Extras go here -->
        {% endblock extras %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/messages.js' %}"></script>
    </body>

</html>
